/* font style */
.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* upper area style */
.header-title{
    font-weight: bold;
    font-size: 32px;
    margin: 31px 160px;
}

.login-btn{
    border: 2px solid #006A50;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    margin: 24px 160px;
}
body{
    background-color: #F1F1F3;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}
/* banner style */
.banner{
    display: flex;
    margin: 20px 160px;
    justify-content: space-between;
    background-color: #C6E4D6;
    gap: 64px;
}

.banner-greetings{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-title{
    font-weight: bold;
    font-size: 56px;
}

.btn-primary{
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
}

.banner-content{
    padding-top: 117px;
    padding-bottom: 127px;
    padding-left: 59.99px;
}

.pic-1{
    padding: 120px 60px 80px 64px;
    width: 470.03px;
    height: 400px;
}
/* shared style */
.section-title{
    margin:60px 160px 0px 160px;
    font-weight: bold;
    font-size: 40px;
}
.section-description{
    font-size: 16px;
    margin: 24px 160px;
    color: rgba(14, 14, 14, 0.7);
}
/* vision of future section styles */

.vision{
    padding: 32px;
    border-radius: 16px;
    width: 410px;
}
.vision-container{
    display: flex;
    gap: 24px;
    margin: 0 160px;
    justify-content: space-between;
}

.vision-title{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.vision-description{
    width: 346px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-2{
    background-color: rgba(198, 228, 214, 1);
}

.vision-3{
    background-color: rgba(247, 235, 207, 1);
}

.learn-more-btn{
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: white;
}

.btn-1{
    background-color: #5490F5;
}

.btn-2{
    background-color: #09A15C;
}

.btn-3{
    background-color: #FFC239;
}

/* Quote section styles */

.quote{
    margin: 0 160px;
    margin-top: 32px;
    border: none;
    border-color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 1.8% 20%;
}

.quote-container{
    padding: 48px 24px;
}

.quote-title{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}

.yunus{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.about-yunus{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}