/* font style */
.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* upper area style */
.header-title{
    font-weight: bold;
    font-size: 32px;
    margin: 31px 160px;
}

.login-btn{
    border: 2px solid #006A50;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    margin: 24px 160px;
}
body{
    background-color: #F1F1F3;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}
/* banner style */
.banner{
    display: flex;
    margin: 20px 160px;
    justify-content: space-between;
    background-color: #C6E4D6;
    gap: 64px;
}

.banner-greetings{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-title{
    font-weight: bold;
    font-size: 56px;
}

.btn-primary{
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
}
.btn-primary:hover{
    background-color: rgba(251, 92, 77, 1);
}
.banner-content{
    padding-top: 117px;
    padding-bottom: 127px;
    padding-left: 59.99px;
}

.pic-1{
    padding: 120px 60px 80px 64px;
    width: 470.03px;
    height: 400px;
}
/* shared style */
.section-title{
    margin:60px 160px 0px 160px;
    font-weight: bold;
    font-size: 40px;
}
.section-description{
    font-size: 16px;
    margin: 24px 160px;
    color: rgba(14, 14, 14, 0.7);
}
/* vision of future section styles */

.vision{
    padding: 32px;
    border-radius: 16px;
    width: 410px;
}
.vision-container{
    display: flex;
    gap: 24px;
    margin: 0 160px;
    justify-content: space-between;
}

.vision-title{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.vision-description{
    width: 346px;
    color: rgba(14, 14, 14, 0.7);
}
.vision-1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-2{
    background-color: rgba(198, 228, 214, 1);
}

.vision-3{
    background-color: rgba(247, 235, 207, 1);
}

.learn-more-btn{
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    color: white;
}

.btn-1{
    background-color: #5490F5;
}
.btn-1:hover{
    background-color: rgba(210, 94, 93, 1);
}
.btn-2{
    background-color: #09A15C;
}
.btn-2:hover{
    background-color: rgb(253, 163, 127);
}
.btn-3{
    background-color: #FFC239;
}
.btn-3:hover{
    background-color:  rgba(216, 158, 238, 1);
}
/* Quote section styles */

.quote{
    margin: 0 160px;
    margin-top: 32px;
    border: none;
    border-color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 1.8% 20%;
}

.quote-container{
    padding: 48px 24px;
}

.quote-title{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}

.yunus{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.about-yunus{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}

/* Recent news section styles */
.recent-news{
    margin: 0 160px;
}
.news-container-1{
    display: flex;
    background-color: white;
    border-radius: 24px
}
.news-container-2{
    display: flex;
    background-color: white;
    border-radius: 24px;
    margin: 24px 160px 80px 160px;
}
.news-image{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.image-container-1{
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
}
.image-container-2{
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
}
.news-description-1{
    padding: 6px 48px 56px 32px;
}
.news-description-2{
    padding-top: 6px;
    padding-bottom: 56;
    padding-left: 48px;
}
.about-news{
    width: 744px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.recent-news-header{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.recent-news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.news-title{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}
.al-jazeera{
    width: 134px;
    height: 40px;
}
.news-date-1{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.read-btn{
    padding: 13px 26px;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 18px;
}
.read-btn:hover{
    background-color: rgba(163, 164, 153, 1);
}

/* Donate section style */
.donate{
    width: 1280px;
    margin: 0 160px;
}
.donate-today{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.donate-description{
    width: 1104px;
    text-align: center;
    padding-left:248px ;
    padding-right: 248px;
}
.amount-container{
    display: flex;
    gap: 24px;
    margin: 0 310px;
}
.amount-100{
    width: 140px;
    font-weight: bold;
    font-size: 26px;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
}
.amount-200{
    width: 140px;
    font-weight: bold;
    font-size: 26px;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
}
.amount-500{
    width: 140px;
    font-weight: bold;
    font-size: 26px;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
}
.amount-1000{
    width: 140px;
    font-weight: bold;
    font-size: 26px;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
}
.amount-100:hover{
    background-color: rgba(255, 230, 159, 1);
}
.amount-200:hover{
    background-color: rgba(195, 220, 255, 1);
}
.amount-500:hover{
    background-color: rgba(251, 170, 169, 1);
}
.amount-1000:hover{
    background-color: rgba(216, 158, 238, 1);
}
input[type="text"]{
    width: 900px;
    height: 64px;
    margin: 0 330px;
    font-size: 20px;
    border: none;
}
input[type="text"]::placeholder{
    padding: 0 380px;
    font-size: 20px;
}
.donate-btn{
    width: 151px;
    height: 56px;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    margin: 32px 720px 0 720px;
}
.donate-btn:hover{
    background-color:rgba(100, 103, 9, 1) ;
}

/* Newsletter Subscription Style */
.subscribe-news{
    background-color: #C6E4D6;
    margin: 80px 160px 0 160px;
    border-radius: 24px;
}

.subscribe-box{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin: 0 265px ;
}
.subscribe-title{
    text-align: center;
    font-weight:bold;
    font-size: 40px;
    padding-top: 80px;
}
.subscribe-description{
    width: 622px;
    text-align: center;
    padding: 0 329px;
    color: rgba(14, 14, 14, 0.7);
}
#email-input{
    width: 600px;
    height: 54px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}
.subscribe-btn{
    border: none;
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    width: 150px;
    height: 56px;
}
.subscribe-btn:hover{
    background-color: #45A049;
}
input[type="email"]::placeholder{
    padding: 18px 403px 18px 40px;
    color: rgba(14, 14, 14, 0.3);
}
.promise{
    text-align: center;
    padding: 0 329px 80px 329px;
    color: rgba(14, 14, 14, 0.7);
}